@import url("https://fonts.googleapis.com/css2?family=Lemonada:wght@300;400;500&family=Poppins:ital,wght@0,400;0,500;1,300;1,400&family=Roboto:ital,wght@0,400;0,500;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #17a598;
}
/* ------------custom scroolbar------------------ */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px 2px #0b5f58;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #e64c3c;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #832c22;
}
/* scroll end */

/*-------------- Card Main-------------------- */
.cardContainer {
  display: flex;
  justify-content: center;
  min-height: 50vh;
  height: 100%;
}
.card {
  width: 34vw;
  max-width: 600px;
  min-width: 400px;
  /* min-height: 115vh; */
  background-color: rgb(50, 68, 87);
  overflow: hidden;
  box-shadow: 0px 2px 15px 5px rgb(63, 63, 63);
  margin-bottom: 3rem;
  margin-top: 2rem;
  position: relative;
  border-radius: 4px;
}
/* main card end */

/* Tilted Bar orange  */
.innerdiv {
  width: 840px;
  background: #eb5645;
  opacity: 0.9;
  height: 10rem;
  transform: translateX(-180px) rotate(-18deg) translateY(135px);

  z-index: 1;
}
.innerdiv::after {
  content: "";
  width: 90px;
  height: 100%;
  background-color: #fff;
  opacity: 0.3;
  position: absolute;
}
.innerdiv:hover::after {
  animation: glare 600ms linear;
  animation-direction: forwards;
}
@keyframes glare {
  from {
    left: 0;
    opacity: 0.3;
  }
  to {
    left: 100%;
    opacity: 0.6;
  }
}
/* tilted bar end */

/* Circle image above Bar */
.flipBox {
  width: 150px;
  height: 150px;
  perspective: 1000px;
  position: absolute;
  left: 50%;
  top: 6%;
  /* transform: rotate(15deg); */
  transform: translate(-50%);
  /*   border: 2px solid red; */
  /*   background-color: transparent; */
  z-index: 10;
}

.innermain {
  position: relative;
  width: 100%;
  height: 100%;
  transition: all 400ms;
  transform-style: preserve-3d;
}
.frontFace,
.backFace {
  position: absolute;
  backface-visibility: hidden;
  /* -webkit-backface-visibility: hidden; */
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.frontFace img {
  /* overflow: hidden; */
  border-radius: 50%;
}
.frontFace {
  border: 8px solid #cc4f44;
}
.backFace {
  font-size: 1.05rem;
  font-family: poppins;
  background-color: rgb(54, 54, 54);
  color: white;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotatey(180deg);
  text-align: center;
  border: 8px solid #cc4f44;
}
.flipBox:hover .innermain {
  transform: rotatey(180deg);
}
/* image in circle end */

/*Text inside tilted bar*/
.introtextcontainer {
  position: absolute;
  /* border: 1px solid gold; */
  z-index: 10;
  margin-top: 8%;
  text-align: center;
  /* transform: translateX(1px); */
  user-select: none;
  padding: 0 35px;
}
.introP {
  color: white;
  font-family: raleway, sans-serif;
  font-size: 1.2rem;
  /* border: 1px solid gold; */
}
.introtextcontainer p {
  /* border: 1px solid yellow; */
  width: 80%;
  color: white;
  font-family: roboto, sans-serif;
  font-size: 0.9rem;
  font-weight: 300;
  margin: 0 auto;
  padding-top: 10px;
  font-weight: 300;
}
/* Text in bar end */

/* ****************************************** */
/*  Text content main*/
/* ***************************************** */
.textincard {
  margin-top: 220px;
  padding-bottom: 20px;
  /* border: 2px solid yellow; */
}
.textincard .nameincard {
  color: white;
  font-size: 1.2rem;
  font-weight: light;
  font-family: roboto;
  border: 1x solid #d85447;
  border-radius: 28px;
  width: 50%;
  padding: 7px 20px;
  margin: 0 auto;
  text-align: center;
  background-color: #d85447;
  margin-bottom: 12px;
  /* box-shadow: 0px 0px 2px 1px #9c9c9c; */
  cursor: unset;
}

hr {
  width: 70%;
  /* margin: 6px auto; */
  background-color: #d45041;
  margin: 4px;
  height: 2px;
  border: 0 none;
  border-radius: 20%;
  transition: all 300ms;
}
.hr1 {
  margin-left: 20%;
}
.hr2 {
  margin-left: 10%;
}

.textincard .nameincard {
  font-family: poppins, sans-serif;
  /* font-size: 1rem; */
}
.nameincardwithHr {
  /* border: 2px solid black; */
  transition: all 300ms;
}
.nameincardwithHr:hover .hr1 {
  margin-left: 10%;
}
.nameincardwithHr:hover .hr2 {
  margin-left: 20%;
}
/* main text end */

.textincard .maintextbio {
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 80%;
  text-align: center;
  margin: auto;
  font-size: 1.05rem;
  font-family: raleway;
  /* font-weight: lighter; */
  /* border: 1px solid red; */
}

.secondpillbutton {
  color: white;
  font-size: 1.05rem;
  font-weight: regular;
  font-family: poppins, sans-serif;
  border: 1x solid #d85447;
  border-radius: 28px;
  width: 40%;
  padding: 10px 20px;
  margin: 25px auto 0;
  text-align: center;
  background-color: #d85447;
  margin-bottom: 12px;
  text-decoration: none;
  display: block;
}
.secondpillbutton::after {
  content: "\27A4";
  margin-left: 10px;
  /* margin-right: 15px; */
  transition: all 200ms;
}

.secondpillbutton:hover::after {
  content: "\27A4";
  margin-right: -10px;
}
.secondpillbutton:hover {
  box-shadow: 0px 0px 2px 1px #dbbcba;
  transition: all 100ms;
}
/* social links */
.contactIcons {
  padding: 15px 0 30px 0;
  text-align: center;
}

.sociallinks {
  color: white;
  /* font-size: 5rem; */
  margin: 0 15px;
  transition: transform 150ms;
}
.sociallinks:hover {
  transform: scale(1.3, 1.3);
  color: white;
  /* font-size: 5rem; */
  margin: 0 15px;
}

/******************Media Queries**********************  */
/*Mobile */
@media only screen and (min-device-width: 320px) and (max-device-width: 370px) {
  .card {
    max-width: 80%;
    min-width: 250px;
    height: 550px;
  }
  .innerdiv {
    height: 5rem;
    /* border: 1px solid yellow; */
  }
  .flipBox {
    height: 100px;
    width: 100px;
  }
  .frontFace {
    border: 5px solid #cc4f44;
  }
  .backFace {
    font-size: 0.7rem;
    border: 5px solid #cc4f44;
  }
  .innerdiv {
    transform: translateX(-180px) rotate(-18deg) translateY(90px);
    width: 600px;
    height: 6.5rem;
  }
  .introtextcontainer {
    margin-top: 9%;
    padding: 0 20px;
    /* border: 1px solid green; */
  }
  .introP {
    font-size: 0.705rem;
    /* border: 1px solid yellow; */
  }
  .introtextcontainer p {
    width: 80%;
    color: white;
    font-family: roboto, sans-serif;
    font-size: 0.6rem;
    font-weight: 300;
    margin: 0 auto;
    padding-top: 1px;
    font-weight: 300;
  }
  .textincard {
    margin-top: 130px;
    padding-bottom: 5px;
    /* border: 1px solid yellow; */
  }

  .textincard .nameincard {
    font-size: 0.9rem;
    width: 60%;
    padding: 4px 10px;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  hr {
    width: 60%;
    margin: 3px auto;
  }
  .hr1 {
    margin-left: 25%;
  }
  .hr2 {
    margin-left: 15%;
  }
  .nameincardwithHr:hover .hr1 {
    margin-left: 15%;
  }
  .nameincardwithHr:hover .hr2 {
    margin-left: 25%;
  }
  .textincard .maintextbio {
    padding-top: 15px;
    padding-bottom: 10px;
    width: 70%;
    font-size: 0.8rem;
    /* font-weight: lighter; */
    border: 1px solid yellow;
  }
  .secondpillbutton {
    font-size: 0.9rem;
    font-weight: lighter;
    width: 55%;
    padding: 6px 20px;
    margin: 10px auto 0;
    margin-bottom: 12px;
  }
  .contactIcons {
    margin-top: 0;
    padding: 10px 0 30px 0;
    text-align: center;
    /* border: 1px solid yellow; */
  }
  .contactIcons .fa {
    font-size: 25px !important;
  }
}

@media only screen and (min-device-width: 371px) and (max-device-width: 480px) {
  .card {
    /* background-color: yellow; */
    min-width: 50%;
    width: 70%;
  }
  .innerdiv {
    height: 7rem;
  }
  .flipBox {
    width: 100px;
    height: 100px;
    top: 50px;
  }
  .frontFace {
    border: 5px solid #cc4f44;
  }
  .backFace {
    font-size: 0.7rem;
    border: 5px solid #cc4f44;
  }
  .innerdiv {
    transform: translateX(-180px) rotate(-18deg) translateY(70px);
  }
  .introtextcontainer {
    top: 7.5rem;
    padding: 5px 10px;
  }
  .introP {
    font-size: 0.76rem;
  }
  .introtextcontainer p {
    font-size: 0.6rem;
    padding-top: 5px;
  }
  .textincard {
    margin-top: 160px;
    padding-bottom: 10px;
  }
  .textincard .nameincard {
    font-size: 1rem;
    padding: 6px 15px;
    width: 70%;
  }
  .textincard .maintextbio {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 75%;
    text-align: center;
    margin: auto;
    font-size: 13px;
  }
  .textincard .nameincard {
    font-size: 0.9rem;
    width: 60%;
    padding: 4px 10px;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .secondpillbutton {
    font-size: 0.9rem;
    font-family: raleway;
    /* font-weight: lighter; */
    width: 55%;
    padding: 6px 16px;
    margin: 15px auto 0;
    margin-bottom: 12px;
  }
  .contactIcons {
    /* border: 2px solid teal; */
    padding: 10px 0 20px 0;
  }
  .sociallinks {
    margin: 0 10px 1.5rem;
    font-size: 1.5rem !important;
  }
}
/* 1920px */
@media only screen and (min-width: 1824px) and (max-width: 1999px) {
  .cardContainer {
    padding-top: 3.5vh;
  }
  .card {
    width: 25vw;
    height: 85vh;
    overflow: hidden;
    box-shadow: 0px 2px 15px 5px rgb(63, 63, 63);
    margin-bottom: 3rem;
    margin-top: 2rem;
    position: relative;
    border-radius: 4px;
    /* border: 1px solid orange; */
  }
  .innerdiv {
    transform: translateX(-195px) rotate(-18deg) translateY(162px);
    height: 11rem;
  }

  .flipBox {
    width: 165px;
    height: 165px;
    top: 6.5%;
  }
  .frontFace {
    border: 10px solid #cc4f44;
  }
  .frontFace {
    border: 10px solid #cc4f44;
  }
  .introtextcontainer {
    /* border: 1px solid gold; */
    margin-top: 9.5%;
    padding: 0 40px;
  }
  .introP {
    color: white;
    font-family: raleway, sans-serif;
    font-size: 1.25rem;
    /* border: 1px solid gold; */
  }
  .introtextcontainer p {
    /* border: 1px solid yellow; */
    width: 80%;
    color: white;
    font-family: roboto, sans-serif;
    font-size: 1rem;
    font-weight: 400;
  }
  .textincard {
    margin-top: 255px;
  }
  .textincard .nameincard {
    width: 60%;
    font-size: 1.4rem;
  }
  .textincard .maintextbio {
    font-size: 1.25rem;
  }
  .secondpillbutton {
    width: 50%;
  }
  .sociallinks {
    font-size: 2.3rem !important;
    margin: 0 1rem;
  }
}

/* Large screens */
@media only screen and (min-width: 2000px) and (max-width: 2561px) {
  .card {
    margin-top: 4rem;
    min-width: 27%;
    height: 80vh;
    /* overflow: visible; */
  }
  .innerdiv {
    width: 130%;
    height: 12rem;
    transform: translateX(-180px) rotate(-15deg) translateY(190px);
  }
  .flipBox {
    width: 190px;
    height: 190px;
  }
  .introtextcontainer {
    /* border: 1px solid red; */
    margin-top: 8%;
    /* left: 50%;
    transform: translateX(-50%); */
    z-index: 10;
    width: 100%;
    text-align: center;
    user-select: none;
  }
  .introP {
    font-size: 1.8rem;
  }
  .introtextcontainer p {
    font-size: 1.2rem;
  }
  .textincard {
    margin-top: 280px;
    padding-bottom: 20px;
    /* border: 2px solid yellow; */
  }
  .textincard .nameincard {
    /* border: 2px solid red; */
    margin-bottom: 25px;
  }
  .textincard .maintextbio {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 70%;
    font-size: 1.2rem;
    /* border: 1px solid red; */
  }
  .secondpillbutton {
    padding: 12px 20px;
    margin: 25px auto 20px;
  }
  .contactIcons {
    /* border: 2px solid teal; */
    padding: 10px 0 40px 0;
    margin-bottom: 80px;
  }
  .sociallinks {
    font-size: 3rem !important;
    margin-bottom: 2rem;
    /* border: 1px solid red; */
    padding: 0 1rem;
  }
}

@media only screen and (min-width: 2562px) {
  .card {
    margin-top: 4rem;
    min-width: 20%;
    height: 80vh;
    /* overflow: visible; */
  }
  .innerdiv {
    width: 130%;
    height: 13rem;
    transform: translateX(-190px) rotate(-17deg) translateY(190px);
    overflow: hidden;
  }
  .flipBox {
    width: 190px;
    height: 190px;
  }
  .introtextcontainer {
    /* outline: 1px solid red; */
    margin-top: 6.5%;
    /* left: 50%;
    transform: translateX(-50%); */
    z-index: 10;
    width: 100%;
    text-align: center;
    user-select: none;
  }
  .introP {
    font-size: 1.8rem;
  }
  .introtextcontainer p {
    font-size: 1.2rem;
  }
  .textincard {
    margin-top: 280px;
    padding-bottom: 20px;
    /* border: 2px solid yellow; */
  }
  .textincard .nameincard {
    /* border: 2px solid red; */
    margin-bottom: 25px;
    padding: 12px 20px;
    cursor: not-allowed;
  }
  .textincard .maintextbio {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 70%;
    font-size: 1.4rem;
    /* border: 1px solid red; */
  }
  .secondpillbutton {
    padding: 12px 20px;
    margin: 25px auto 20px;
  }
  .contactIcons {
    /* border: 2px solid teal; */
    padding: 10px 0 40px 0;
    margin-bottom: 80px;
  }
  .sociallinks {
    font-size: 3rem !important;
    margin-bottom: 2rem;
    /* border: 1px solid red; */
    padding: 0 1rem;
  }
}
