* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* custom scroolbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px 2px #0b5f58;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #e64c3c;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #832c22;
}
/* scroll end */

/* Card Main  */
.cardContainer {
  background-color: #17a598;
  display: flex;
  justify-content: center;
}
.card {
  width: 38vw;
  max-width: 600px;
  min-width: 400px;
  min-height: 115vh;
  background-color: rgb(50, 68, 87);
  overflow: hidden;
  box-shadow: 0px 2px 15px 5px rgb(63, 63, 63);
  margin-bottom: 2rem;
  margin-top: 3rem;
  position: relative;
}
/* main card end */

/* Tilted Bar orange  */
.innerdiv {
  width: 740px;
  background: #e64c3c;
  opacity: 0.9;
  height: 10rem;
  transform: translateX(-180px) rotate(-14deg) translateY(145px);
  /* transform: translateX(200px); */
  z-index: 1;
  /* position: absolute; */
}
.innerdiv::after {
  content: "";
  width: 90px;
  height: 100%;
  background-color: #fff;
  opacity: 0.3;
  position: absolute;
}
.innerdiv:hover::after {
  animation: glare 600ms linear;
  animation-direction: forwards;
}
@keyframes glare {
  from {
    left: 0;
    opacity: 0.3;
  }
  to {
    left: 100%;
    opacity: 0.6;
  }
}
/* tilted bar end */

/* Circle image above Bar */
.flipBox {
  width: 150px;
  height: 150px;
  perspective: 1000px;
  position: absolute;
  left: 50%;
  top: 6%;
  /* transform: rotate(15deg); */
  transform: translate(-50%);
  /*   border: 2px solid red; */
  /*   background-color: transparent; */
  z-index: 10;
}

.innermain {
  position: relative;
  width: 100%;
  height: 100%;
  transition: all 400ms;
  transform-style: preserve-3d;
}
.frontFace,
.backFace {
  position: absolute;
  backface-visibility: hidden;
  /* -webkit-backface-visibility: hidden; */
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.frontFace img {
  /* overflow: hidden; */
  border-radius: 50%;
}
.frontFace {
  border: 8px solid #e64c3c;
}
.backFace {
  font-size: 1.15rem;
  background-color: rgb(54, 54, 54);
  color: white;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotatey(180deg);
  text-align: center;
  border: 8px solid #b8382a;
}
.flipBox:hover .innermain {
  transform: rotatey(180deg);
}
/* image in circle end */

/*Text inside tilted bar*/
.introtextcontainer {
  position: absolute;
  /* border: 1px solid gold; */
  z-index: 10;
  margin-top: 8%;
  text-align: center;
  transform: translateX(1px);
  user-select: none;
  padding: 0 35px;
}
.introP {
  color: white;
  font-family: roboto;
  font-size: 1.3rem;
  font-weight: lighter;
}
.introtextcontainer p {
  color: white;
  font-family: roboto;
  font-size: 0.9rem;
  margin: 0 auto;
  padding-top: 10px;
}
/* Text in bar end */

/* ****************************************** */
/*  Text content main*/
/* ***************************************** */
.textincard {
  margin-top: 200px;
  padding-bottom: 10px;
  /* border: 2px solid yellow; */
}
.textincard .nameincard {
  color: white;
  font-size: 1.25rem;
  font-weight: light;
  font-family: roboto;
  border: 1x solid #d44b3c;
  border-radius: 28px;
  width: 50%;
  padding: 6px 20px;
  margin: 0 auto;
  text-align: center;
  background-color: #e64c3c;
  margin-bottom: 12px;
}

hr {
  width: 70%;
  /* margin: 6px auto; */
  background-color: #e64c3c;
  margin: 4px;
  height: 2px;
  border: 0 none;
  border-radius: 20%;
  transition: all 300ms;
}
.hr1 {
  margin-left: 20%;
}
.hr2 {
  margin-left: 10%;
}
.nameincardwithHr {
  /* border: 2px solid black; */
  transition: all 300ms;
}
.nameincardwithHr:hover .hr1 {
  margin-left: 10%;
}
.nameincardwithHr:hover .hr2 {
  margin-left: 20%;
}
/* main text end */

.textincard .maintextbio {
  color: white;
  padding-top: 20px;
  padding-bottom: 40px;
  width: 80%;
  text-align: center;
  margin: auto;
}

.secondpillbutton {
  color: white;
  font-size: 1.1rem;
  font-weight: regular;
  font-family: Arial, Helvetica, sans-serif;
  border: 1x solid #d44b3c;
  border-radius: 28px;
  width: 40%;
  padding: 12px 20px;
  margin: 0 auto;
  text-align: center;
  background-color: #e64c3c;
  margin-bottom: 12px;
  text-decoration: none;
  display: block;
}
.secondpillbutton::after {
  content: "\27A4";
  margin-left: 10px;
  /* margin-right: 15px; */
  transition: all 300ms;
}

.secondpillbutton:hover::after {
  content: "\27A4";
  margin-right: -10px;
}
