html,
body {
  /* overflow: hidden; */
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #243342;
}

/*  */
/* ************************************************* */
/* copied nav bar */
/* ************************************************* */

/* Menu Button */
.menu-button {
  position: absolute;
  top: 1rem;
  margin: 1.5rem 2rem;
  z-index: 20;
  /* margin: 1em; */
  /* width: 3em;
  height: 2.5em; */
  border: none;
  /* text-indent: 2.5em; */
  font-size: 1em;
  /* color: white; */
  /* background: black; */
  /* border: 1px solid red; */
}
.bar {
  background-color: #fccdc8;
  width: 35px;
  height: 5px;
  margin: 6px 0;
  transition: 470ms;
}
/* .change .its2 {
  opacity: 0;
}
.change .its1 {
  transform: rotate(45deg) translate(9px, 7px);
}
.change .its3 {
  transform: rotate(-45deg) translate(8px, -7px);
}
.change .its2 {
  opacity: 0;
} */
/* .menu-button::before {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  bottom: 0.5em;
  left: 0.5em;
  background: linear-gradient(
    #373a47 20%,
    transparent 20%,
    transparent 40%,
    #373a47 40%,
    #373a47 60%,
    transparent 60%,
    transparent 80%,
    #373a47 80%
  );
  content: "";
} */

.menu-button:hover {
  opacity: 0.6;
}
/* --------------------- */

/*-------- Menu------------- */
.menu-wrap {
  position: absolute;
  z-index: 20;
  width: 300px;
  height: 100vh;
  -webkit-transform: translate3d(-280px, 0, 0);
  transform: translate3d(-300px, 0, 0);
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  /* border: 5px solid rgb(207, 51, 147); */
  box-shadow: 2px 0 3px rgb(77, 77, 77);
  left: 0;
  top: 0;
  bottom: 0;
}

.menu {
  position: relative;
  z-index: 30;
  padding: 2em 1em 0;
  /* border: 5px solid yellow; */
  margin-top: 1rem;
}

.menu,
.close-button {
  /* opacity: 0; */
  -webkit-transform: translate3d(-160px, 0, 0);
  transform: translate3d(-160px, 0, 0);
  -webkit-transition: opacity 0s 0.3s, -webkit-transform 0s 0.3s;
  transition: opacity 0s 0.3s, transform 0s 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.17, 0.67, 0.1, 1.27);
  transition-timing-function: cubic-bezier(0.17, 0.67, 0.1, 1.27);
}
/* ----------------------- */

/* nav title */
.innerlink {
  color: rgb(241, 241, 241);
  text-decoration: none;
  font-size: 1.3rem;
  font-family: sans-serif;
  display: block;
  padding: 0.8em;
  padding-left: 1rem;
  /* border: 1px solid yellow; */
}
.innerlink::after {
  content: "";
  display: block;
  height: 2px;
  /* transform: scaleX(0); */
  width: 0%;
  background: white;
  transition: all 250ms;
  margin-top: 3px;
}
.innerlink:hover::after {
  /* transform: scaleX(1); */
  width: 40%;
}

.menu-wrap a:hover,
.menu-wrap a:focus {
  opacity: 0.8;
}
/* ---------------- */

/* Close Button */
.close-button {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 1em;
  top: 1em;
  /* overflow: hidden; */
  /* text-indent: 16px; */
  border: none;
  z-index: 100;
  /* background: red; */
  color: transparent;
}

/* 
.close-button::before,
.close-button::after {
	content: '';
	position: absolute;
	width: 2px;
	height: 100%;
	top: 0;
	left: 50%;
	background: #888;
}

.close-button::before {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.close-button::after {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
} */
/* close end */

/*----------------Morph Shape--------------------- */
.morph-shape {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  fill: #2fa096;
}

/* Shown menu */
/* .show-menu .menu-wrap,
.show-menu .content::before {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
} */

.show-menu .menu-wrap,
.show-menu .menu,
.show-menu .close-button,
.show-menu .morph-shape,
.show-menu .content::before {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.show-menu .menu,
.show-menu .close-button {
  opacity: 1;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.show-menu .content::before {
  opacity: 1;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

/* *******************************************************/
/* copied code for nav bar ends*/
/* **************************************************** */

/* ********************************************************* */
/* circle image*/
/* ********************************************************** */
.flipBox {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 150px;
  height: 150px;
  perspective: 1000px;
  /* position: absolute; */
  /* 
  top: 100%; */
  /* margin: 0 auto; */
  top: -50px;
  /* transform: rotate(15deg); */
  /* */
  /*   border: 2px solid red; */
  /*   background-color: transparent; */
  z-index: 10;
}

.innermain {
  position: relative;
  width: 100%;
  height: 100%;
  transition: all 400ms;
  transform-style: preserve-3d;
}
.frontFace,
.backFace {
  position: absolute;
  backface-visibility: hidden;
  /* -webkit-backface-visibility: hidden; */
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.frontFace img {
  /* overflow: hidden; */
  border-radius: 50%;
}
.frontFace {
  border: 8px solid #dd5c4e;
}
.backFace {
  font-size: 1rem;
  font-family: poppins;
  background-color: rgb(54, 54, 54);
  color: white;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotatey(180deg);
  text-align: center;
  border: 8px solid #b8382a;
}
.flipBox:hover .innermain {
  transform: rotatey(180deg);
}
/* image in circle end */

/* *********************************************************************** */
/* About section */
/* ************************************************************************ */
.about {
  margin-top: 4.5rem;
  min-height: 100vh;
  background: #243342;
  /* border: 5px solid seagreen; */
  /* position: unset; */
}
.textcontainer {
  /* border: 5px solid yellow; */
  position: relative;
  background-color: #d86255;
  width: 70%;
  min-height: 80vh;
  border-radius: 6px;
  padding: 30px 80px;
  margin: 0 auto;
  color: white;
  /* font-size: 1.2rem; */
  font-family: roboto;
  overflow-y: none;
  /* font-family: Philosopher; */
  font-family: caveat;
}

.about h2 {
  font-family: Roboto;
  font-size: 3rem;
  padding-bottom: 0;
  margin-bottom: 0;
}

.about .textcontainer p {
  padding-top: 1rem;
  font-family: sans-serif;
  font-size: 1.1rem;
  /* text-align: center; */
}
.about hr {
  width: 40%;
  margin: 5px 0;
}

/* ************************************************************************* */
/* Projects section start */
/* ************************************************************************* */
.projects {
  /* display: none; */
  min-height: 100vh;
  width: 100%;
  border: 5px solid salmon;
}
.projectTiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-grow: 1;
  width: 90%;
  margin: auto;
  /* border: 2px solid yellow; */
}
.card {
  border: 2px solid rgb(189, 77, 120);
  border-radius: 4px;
  width: 27%;
  min-width: 300px;
  /* flex-basis: 300px; */
  height: auto;
  margin: 2%;
  overflow: hidden;
}
.card img {
  width: 100%;
  height: auto;
}
.cardTitle {
  font-size: 1.3rem;
  font-weight: lighter;
  font-family: poppins, sans-serif;
  background: #d4625a;
  padding: 11px 10px;
  text-align: center;
  color: white;
}

.projects h2 {
  font-size: 2.2rem;
  font-family: roboto;
  color: white;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.cardcontent {
  display: flex;
  flex-direction: column;
}
.card a {
  text-decoration: none;
  background-color:rgb(114, 209, 114);
  padding: 8px;
  font-family: roboto;
  text-align: center;
  color: white;
}

/* ********************************************************************* */
/* skills section */
/* ********************************************************************* */
.skills {
  display: none;
  height: 100vh;
  width: 100%;
  /* border: 2px solid white; */
}

.skills h3 {
  color: white;
  font-size: 2rem;
  text-align: center;
  margin: 3rem;
}

.chip {
  display: inline-block;
  padding: 0 25px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  border-radius: 25px;
  background-color: #f1f1f1;
}

.chip img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
/* ------------------------------skill end------------------------------------ */
