@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,300&family=Roboto:ital,wght@0,300;0,400;1,300;1,400&family=Srisakdi:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap");
html,
body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background: #243342; */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes fadingin {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* ************************************************* */
/* Side Nav-bar */
/* ************************************************* */
/* Menu Button */
/* main {
  position: relative;
} */
.menu-button {
  position: absolute;
  top: 1rem;
  margin: 1.5rem 2rem;
  z-index: 50;
  border: none;
  font-size: 1em;
}
.bar {
  background-color: #2ab3a7;
  width: 35px;
  height: 5px;
  margin: 6px 0;
  transition: 470ms;
}
/* .change .its2 {
  opacity: 0;
}
.change .its1 {
  transform: rotate(45deg) translate(9px, 7px);
}
.change .its3 {
  transform: rotate(-45deg) translate(8px, -7px);
}
.change .its2 {
  opacity: 0;
} */

.menu-button:hover {
  opacity: 0.6;
}
/* --------------------- */

.menu-wrap {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
  width: 300px;
  -webkit-transform: translate3d(-280px, 0, 0);
  transform: translate3d(-300px, 0, 0);
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  /* border: 5px solid rgb(207, 51, 147); */
  box-shadow: 2px 0 3px rgb(77, 77, 77);
}

.menu {
  position: relative;
  z-index: 30;
  padding: 2em 1em 0;
  /* border: 2px solid yellow; */
  margin-top: 1rem;
}
/* */
.menu,
.close-button {
  opacity: 0;
  -webkit-transform: translate3d(-160px, 0, 0);
  transform: translate3d(-160px, 0, 0);
  -webkit-transition: opacity 0s 0.3s, -webkit-transform 0s 0.3s;
  transition: opacity 0s 0.3s, transform 0s 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.17, 0.67, 0.1, 1.27);
  transition-timing-function: cubic-bezier(0.17, 0.67, 0.1, 1.27);
}
/* ----------------------- */

/* nav title */
.innerlink {
  color: rgb(241, 241, 241);
  text-decoration: none;
  font-size: 1.3rem;
  font-family: sans-serif;
  display: block;
  padding: 0.8em;
  padding-left: 1.5rem;
  /* border: 1px solid yellow; */
}
.innerlinkfirst {
  margin-top: 1rem;
}

.innerlink::after {
  content: "";
  display: block;
  height: 2px;
  /* transform: scaleX(0); */
  width: 0%;
  background: white;
  transition: all 250ms;
  margin-top: 6px;
}
.innerlink:hover::after {
  /* transform: scaleX(1); */
  width: 40%;
}

.menu-wrap a:hover,
.menu-wrap a:focus {
  opacity: 0.8;
}
/* ---------------- */

/* Close Button */
.close-button {
  position: absolute;
  right: 2rem;
  top: 2rem;
  z-index: 100;
  color: rgba(255, 255, 255, 0.7);
  font-size: 2.5rem;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
.close-button:hover {
  color: white;
}
/*----------------Morph Shape--------------------- */
.morph-shape {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  fill: #2fa096;
}

/* Shown menu */
/* .show-menu .menu-wrap,
.show-menu .content::before {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
} */

.show-menu .menu-wrap,
.show-menu .menu,
.show-menu .close-button,
.show-menu .morph-shape,
.show-menu .content::before {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.show-menu .menu,
.show-menu .close-button {
  opacity: 1;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.show-menu .content::before {
  opacity: 1;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
/* -------------------Nav End---------------------- */

/* ********************************************************* */
/* circle image*/
/* ********************************************************** */
.flipBox {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 150px;
  height: 150px;
  perspective: 1000px;
  /* position: absolute; */
  /* 
  top: 100%; */
  /* margin: 0 auto; */
  top: -50px;
  /* transform: rotate(15deg); */
  /*   border: 2px solid red; */
  /*   background-color: transparent; */
  z-index: 10;
}

.innermain {
  position: relative;
  width: 100%;
  height: 100%;
  transition: all 400ms;
  transform-style: preserve-3d;
}
.frontFace,
.backFace {
  position: absolute;
  backface-visibility: hidden;
  /* -webkit-backface-visibility: hidden; */
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.frontFace img {
  /* overflow: hidden; */
  border-radius: 50%;
}
.frontFace {
  border: 8px solid #dd5c4e;
}
.backFace {
  font-size: 1rem;
  padding-top: 20px;
  font-family: poppins;
  background-color: rgb(54, 54, 54);
  color: white;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotatey(180deg);
  /* text-align: center; */
  border: 8px solid #b8382a;
}
.flipBox:hover .innermain {
  transform: rotatey(180deg);
}
/* image in circle end */

/* *********************************************************************** */
/* About section */
/* ************************************************************************ */
.about {
  /* display: none; */
  padding-top: 4.5rem;
  min-height: 100vh;
  height: 110vh;
  background: #2c3f51;
  /* border: 5px solid seagreen; */
  /* position: unset; */
  animation: fadingin 800ms linear;
}
.textcontainer {
  /* border: 5px solid yellow; */
  position: relative;
  background-color: #d86255;
  width: 70%;
  min-height: 80vh;
  border-radius: 6px;
  padding: 30px 80px;
  margin: 0 auto 1rem;
  color: white;
  /* font-size: 1.2rem; */
  font-family: roboto;
  overflow-y: none;
  /* font-family: Philosopher; */
  font-family: caveat;
  /* border: 5px solid red;  */
}

.about h2 {
  font-family: poppins, sans-serif;
  font-weight: lighter;
  font-size: 2.5rem;
  /* padding-bottom: 0;
  margin-bottom: 0; */
  /* border: 1px solid yellow; */
  margin-top: 0.5rem;
}

.about .textcontainer p {
  padding-top: 1rem;
  font-family: poppins, sans-serif;
  font-weight: 300;
  font-size: 1.05rem;
  /* border: 1px solid yellow; */
  padding-bottom: 2rem;

  text-align: justify;
}
.about hr {
  width: 40%;
  /* margin: 5px 0; */
  margin-top: 0;
}
.resume {
  text-align: center;
  background: #243342;
  color: white;
  font-family: poppins, sans-serif;
  font-weight: lighter;
  border-radius: 50px;
  padding: 0.8rem 1.5rem;
  text-decoration: none;
  display: block;
  width: 150px;
  margin-bottom: 1rem;
  /* border: 1px solid yellow; */
}
/* ************************************************************************* */
/* Projects section start */
/* ************************************************************************* */
.newprojectsection {
  display: none;
  min-height: 100vh;
  background: rgb(47, 160, 150);
  background: linear-gradient(309deg, hsla(175, 55%, 41%, 0.5) 22%, rgba(255, 255, 255, 1) 85%);

  animation: fadingin 800ms linear;
}
.projectHr {
  width: 22%;
  background-color: #669e97;
  margin: 0 auto 1rem;
  border: 0 none;
  height: 2px;
  border-radius: 10px;
  padding-top: 0;
  margin-top: 0;
  transition: all 200ms linear;
}
.projecthr1 {
  margin-left: 37.5%;
  margin-bottom: 5px;
}
.projecthr2 {
  margin-left: 41%;
  margin-bottom: 1rem;
}

.projectitle {
  font-size: 2.3rem;
  font-family: poppins;
  font-weight: bold;
  color: #28726c;
  text-align: center;
  padding-top: 3rem;
  margin-bottom: 0.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.titlewithhr {
  z-index: 100;
}
.titlewithhr:hover .projecthr1 {
  margin-left: 40%;
}
.titlewithhr:hover .projecthr2 {
  margin-left: 37%;
}
.projectTiles {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-grow: 1;
  flex-shrink: 1;
  margin: auto;
  /* border: 1px solid #243241; */
}
.snip1336 {
  font-family: "Roboto", Arial, sans-serif;
  /* border: 2px solid #243241; */
  border-radius: 3px;
  box-shadow: 1px 5px 5px 2px rgb(155, 155, 155);
  position: relative;
  overflow: hidden;
  margin: 1rem 0 4rem 0 !important;
  min-width: 300px;
  max-width: 550px;
  width: 27%;
  background-color: #fafafa;
  /* color: black; */
  text-align: left;
  line-height: 1.4em;
  /* background-color: #2980b9; */
  transition: all 100ms;
  height: 420px;
}
.snip1336:hover {
  transform: scale(1.02, 1.02);
}
.snip1336 h2 {
  font-size: 1.6rem;
}
.snip1336 h2 span {
  font-size: 1.3rem;
}

.snip1336 img {
  max-width: 100%;
  height: 200px;
  /* border: 2px solid red; */
  /* vertical-align: top; */
  object-fit: cover;
  opacity: 0.85;
  /* box-shadow: 0 0 5px 5px red inset; */
  /* padding: 5px; */
}
.snip1336 figcaption {
  width: 100%;
  background-color: rgb(250, 250, 250);
  padding: 1rem 25px 25px;
  position: absolute;
  bottom: 0;
}
.snip1336 figcaption:before {
  position: absolute;
  content: "";
  bottom: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  /* border-width: 40px 0 0 450px; */
  border-width: 40px 0 0 520px;
  border-color: transparent transparent transparent rgb(250, 250, 250);
}
.snip1336 figcaption a {
  padding: 5px;
  border: 1px solid #c55549;
  color: #c55549;
  font-size: 0.7em;
  text-transform: uppercase;
  margin: 10px 0;
  display: inline-block;
  opacity: 0.65;
  width: 47%;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  /* transition: all 100ms linear; */
}
.info:hover {
  color: white;
  background: #c55549;
}
.snip1336 figcaption a:hover {
  opacity: 1;
}
.snip1336 .follow {
  margin-right: 4%;
  border-color: #2980b9;
  color: #2980b9;
}
.follow:hover {
  color: white;
  background: #2980b9;
}
.snip1336 h2 {
  margin: 5px 0 1rem;
  font-weight: 300;
}
.snip1336 p {
  /* margin:0 0 10px 0; */
  font-size: 0.8em;
  letter-spacing: 1px;
  opacity: 0.8;
}

/* *********************************************************** */
/* skills section */
/* *********************************************************** */
.skills {
  display: none;
  width: 100%;
  height: 100%;
  padding-bottom: 2rem;
  animation: fadingin 800ms linear;
  background: #243342;
}
#particle-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#particles-js {
  opacity: 1;
  width: 100%;
  height: 100%;
  position: fixed;
  background-image: url("");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.skills h3 {
  /* border: 2px solid orange; */
  color: white;
  font-size: 2.2rem;
  text-align: center;
  font-family: Source Sans Pro;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: lighter;
  padding: 3rem 0 0.2rem;
  font-weight: bold;
}
.skills hr {
  width: 20%;
  margin: 0 auto 2rem;
}
.chip {
  display: inline-block;
  padding: 0 25px;
  height: 50px;
  font-size: 1rem;
  line-height: 50px;
  border-radius: 25px;
  background-color: #f1f1f1;
  font-family: roboto, sans-serif;
  color: #272727;
  overflow: hidden;
  margin: 0 2px;
}

.chip img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.bigimagechip img {
  padding: 2px;
}
.chipsalone {
  /* border: 2px solid red; */
  margin: 0 2px;
}
.sectionsInContainer {
  /* border: 2px solid red; */
  width: 90%;
  margin: 0 auto;
  padding-bottom: 10px;
}
.skillscontainer .sectionsInContainer h4 {
  color: white;
  font-weight: lighter;
  font-family: roboto, sans-serif;
  font-size: 1.2rem;
  padding-bottom: 2px;
}

/* ****************************************************** */
/* certificate section */
/* ****************************************************** */
.certificates {
  background-color: #243342;
  width: 100%;
  height: 110vh;
  /* height: auto; */
  position: relative;
  display: none;
}
.certititle {
  font-size: 2.2rem;
  font-family: poppins;
  font-weight: bold;
  color: white;
  text-align: center;
  padding-top: 3rem;
  margin-bottom: 0.1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.certificates hr {
  width: 25%;
  margin: 0 auto;
}
svg {
  position: absolute;
  bottom: 0;
}
.thumbnailContainer {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 80%;
  margin: 2rem auto;
}
.thumbnailcerti {
  margin-bottom: 1rem;
  /* border: 3px dotted paleturquoise; */
  max-width: 320px;
  height: auto;
  box-shadow: 0 0 2px 2px rgb(53, 53, 53);
  z-index: 10;
}
.thumbnailcerti:hover {
  cursor: pointer;
  box-shadow: 0 0 4px 1px #bbbbbb;
}
.modeldiv {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10;
  overflow: auto;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.model {
  margin: auto;
  display: block;
  max-width: 70%;
  min-width: 50%;
  height: auto;
  animation-name: modelimage;
  animation-duration: 0.6s;
  margin-top: 50px;
  margin-bottom: 100px;
}
#spancross1,
#spancross2 {
  font-size: 3.6rem;
  color: rgb(255, 255, 255);
  position: absolute;
  right: 3rem;
  top: 2rem;
  z-index: 20;
}
#spancross1:hover,
#spancross2:hover {
  color: rgb(194, 194, 194);
  cursor: pointer;
}

@keyframes modelimage {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
/* ***************************************************** */
/* Contact Section  */
/* ****************************************************** */
.skewedpart {
  background: #28726c;
  width: 100%;
  min-height: 100vh;
  transform: skew(-20deg);
  position: absolute;
  left: -75%;
}
.contact {
  overflow: hidden;
  background: #2c3f51;
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: none;
  animation: fadingin 800ms linear;
}
.contact h2 {
  font-size: 2.1rem;
  text-align: center;
  padding: 3rem 0 0.3rem;
  color: #fff;
  font-family: poppins, sans-serif;
  letter-spacing: 2px;
  z-index: 10;
  /* background-color: green; */
}
.contact hr {
  z-index: 10;
  width: 18%;
  margin: 0 auto;
  margin-bottom: 1rem;
  height: 1px;
  border: none;
  background: white;
}
.center-ball {
  margin: 30px auto;
  width: 20%;
}
.center-ball::before {
  content: "";
  width: 3px;
  height: 3px;
  background: white;
  display: inline-block;
  border: 2px solid white;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateY(-50%);
}

.socialformContainer {
  position: relative;
  /* border: 5px dotted rgb(160, 230, 70); */
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  z-index: 20;
}
.sociallink {
  /* background: yellow; */
  flex-grow: 1;
  flex-shrink: 1;
  margin: 1rem;
  /* width: 40%; */
}
.thelinks {
  display: grid;
  grid-gap: 3px;
  margin: 3rem 0 0;
  padding: 0 2rem;
  grid-template-columns: auto auto auto auto auto auto;
  /* border: 1px solid red; */
}
.thelinks .thelinkslink {
  font-size: 1.05rem;
  font-family: roboto;
  background: #eee;
  text-decoration: none;
  /* border: 1px solid red; */
  text-align: center;
  padding: 1.4rem 1.1rem;
  transition: all 100ms linear;
  opacity: 0.9;
  color: #2a4947;
}
.thelinks .thelinkslink:hover {
  opacity: 1;
}
.makeinline {
  display: flex;
  justify-content: center;
  align-items: center;
}
.makeinline i {
  padding: 0 0 0 5px;
}
.codepen {
  grid-column: span 6;
}
.FreeCodeCamp {
  grid-column: span 4;
}
.FreeCodeCampForum {
  grid-column: 5/7;
}
.StackOverFlow {
  grid-column: 1/2;
}
.linkedin {
  grid-column: 2/7;
}
.Github {
  grid-column: 1/7;
}
.email {
  grid-column: 1/-1;
}
/* social links end */

/*Form  start*/
.container {
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.3);
  flex-grow: 3;
  flex-shrink: 3;
  width: 350px;
  margin: 0.5rem 4rem 2rem;
  padding: 2rem 1rem;
  font-size: 1rem;
  height: 75vh;
  font-family: "Source Sans Pro";
}
.form {
  /* border: 1px solid yellow; */
  width: 80%;
  margin: 1.5rem auto 1.5rem;
  z-index: 10;
  text-align: center;
}

.formSuccess h3 {
  transform: translateY(100px);
}
.container h3 {
  font-size: 2.5rem;
  /* border: 1px solid red; */
  transition-duration: 1s;
  transition-timing-function: ease;
  font-weight: 200;
  color: white;
  text-align: center;
}
.container input,
.container textarea,
.container button {
  /* display: block; */
  margin: 4px 0;
  outline: none;
  text-align: center;
  border-radius: 3px;
  transition: all 400ms;
  font-size: 1rem;
  color: white;
}
.container textarea {
  /* color: #181a19 !important; */
  font-weight: regular;
}
::placeholder {
  color: white;
  opacity: 0.9;
  font-size: 1rem;
  font-family: "Source Sans Pro";
}
:focus::placeholder {
  color: #243342;
  font-size: 1rem;
  font-family: "Source Sans Pro";
}
.form input {
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px 15px;
  font-size: 1.2rem;
  width: 90%;
}
.form input:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
.form input:focus {
  background-color: white;
  width: 100%;
  color: #000000;
}
.form textarea {
  font-family: "Source Sans Pro";
  padding: 10px 15px;
  width: 90%;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.4);
  color: white;
}
.form textarea:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
.form textarea:focus {
  background: white;
  width: 100%;
  color: black;
}
.form button {
  padding: 10px 15px;
  width: 90%;
  /* outline: 0; */
  background-color: white;
  border: 0;
  color: #243342;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 18px;
}
.form button:hover {
  background-color: #dfdfdf;
  outline: red;
}
/* form end */
/* ************************************************************************** */
/* Media Queries */
/* ************************************************************************** */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .menu-button .bar {
    widows: 25px;
    height: 3px;
  }
  .menu-button {
    position: absolute;
    top: 5px;
    left: 2px;
  }
  .menu-wrap {
    width: 250px;
  }
  .innerlink {
    font-size: 1.1rem;
  }
  .textcontainer {
    width: 85%;
  }
  .flipBox {
    width: 100px;
    height: 100px;
  }
  .frontFace {
    border: 5px solid #dd5c4e;
  }
  .flipBox .backFace {
    border: 5px solid #dd5c4e;
    text-align: center;
  }
  .flipBox:hover .innermain {
    transform: none;
  }
  body {
    background: #2c3f51;
  }
  .about {
    height: auto;
  }
  .about h2 {
    font-size: 2rem;
    margin-top: 1.3rem;
    padding-bottom: 0;
  }

  .textcontainer {
    padding: 10px 15px;
    margin-bottom: 2rem;
    /* border: 1px solid yellow; */
    margin-bottom: 2rem;
  }
  .about .textcontainer p {
    text-align: left;
    /* border: 1px solid green; */
    font-weight: 400;
    font-size: 14px;
    font-family: poppins;
    font-weight: lighter;
    margin-bottom: 1.5rem;
    padding-bottom: 0;
  }
  .about hr {
    width: 70%;
    margin: 0;
    padding: 0;
  }

  /* projects sections */
  .newprojectsection {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      91deg,
      rgba(255, 255, 255, 1) 47%,
      rgba(167, 238, 231, 1) 100%,
      rgba(107, 226, 215, 0.2189250700280112) 100%
    );
  }
  .projectitle {
    font-size: 1.5rem;
    font-family: poppins;
    font-weight: bold;
    color: #28726c;
    text-align: center;
    padding-top: 2rem;
    margin-bottom: 0.2rem;
    /* border: 2px solid yellow; */
  }
  .newprojectsection hr {
    width: 45%;
  }
  .projecthr1 {
    margin-left: 25%;
    margin-bottom: 5px;
  }
  .projecthr2 {
    margin-left: 35%;
    margin-bottom: 1rem;
  }
  .titlewithhr:hover .projecthr1 {
    margin-left: 30%;
  }
  .titlewithhr:hover .projecthr2 {
    margin-left: 22%;
  }
  .snip1336 {
    /* border: 1px solid #243241; */
    box-shadow: 1px 5px 5px 2px rgb(155, 155, 155);
    /* width: 50%; */
    margin: 1.5rem 0;
  }
  .snip1336:hover {
    transform: none;
  }

  /* skills section */
  .skills h3 {
    /* border: 2px solid orange; */
    font-size: 1.5rem;
    padding-top: 2rem;
  }
  .skills hr {
    width: 45%;
  }
  .skillscontainer .sectionsInContainer h4 {
    font-size: 1.05rem;
    padding-bottom: 10px;
  }
  .chip {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 0.8rem;
  }
  .sectionsInContainer {
    /* border: 2px solid green; */
    padding-bottom: 10px;
  }
  .tooltext {
    position: absolute;
    width: 185px;
    padding: 10px 0 10px 1.5rem;
    left: 65%;
    top: 50%;
    transition: opacity 1s;
    font-size: 0.8rem;
    opacity: 0;
    visibility: hidden;
  }

  /* social section */
  .skewedpart {
    display: none;
  }

  .contact {
    height: auto;
  }
  .contact hr {
    width: 40%;
  }
  .contact h2 {
    font-size: 1.6rem;
    font-weight: lighter;
    padding-top: 2rem;
    letter-spacing: 3px;
  }
  .center-ball {
    width: 50%;
  }
  .thelinks {
    display: grid;
    /* border: 2px solid orange; */
    padding: 0;
    width: 92%;
    margin: 16px 10px;
  }
  .thelinks .thelinkslink {
    padding: 0.8rem 0.5rem;
    font-size: 1rem;
  }
  .thelinks .thelinkslink p {
    display: none;
  }
  .container {
    background: rgba(0, 0, 0, 0.3);
    margin: 1rem 1.1rem 3rem;
    width: 280px;
    height: 450px;
    padding: 2rem 0 1rem;
    border: radius 4px;
    /* border: 1px solid yellow; */
  }
  .container h3 {
    font-size: 1.6rem;
  }
  .container input,
  .container textarea,
  .container button {
    padding: 8px 15px;
  }

  /* certificate section */
  .certititle {
    font-size: 1.5rem;
    font-weight: lighter;
  }
  .certificates hr {
    width: 50%;
  }
  .thumbnailContainer {
    width: 100%;
  }
  .thumbnailcerti {
    max-width: 80%;
  }
  svg {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
  }
}

/* media query for tab  */
@media only screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .menu-button .bar {
    width: 30px;
    height: 4px;
  }
  .textcontainer {
    width: 70%;
  }
  .flipBox {
    width: 120px;
    height: 120px;
  }
  .flipBox:hover .innermain {
    transform: none;
  }
  .frontFace {
    border: 7px solid #dd5c4e;
  }
  .about h2 {
    /* border: 2px solid yellow; */
    font-size: 2.5rem;
    margin-top: 1.4rem;
    /* padding-top: 1rem; */
  }
  .about .textcontainer p {
    text-align: start;
    font-size: 14px;
  }
  .textcontainer {
    padding: 15px 20px;
    /* margin-bottom: 2rem; */
  }
  .about hr {
    width: 50%;
  }
  /* projects sections */
  .projectitle {
    font-size: 2rem;
    margin-bottom: 0.1rem;
    padding-top: 2rem;
  }
  .newprojectsection hr {
    width: 40%;
  }
  .skills h3 {
    font-size: 2rem;
    padding-top: 2rem;
    font-weight: light;
    padding: 3rem 0 0.1rem;
  }
  .skills hr {
    width: 30%;
  }
  .sectionsInContainer {
    /* border: 2px solid red; */
    padding-bottom: 10px;
  }
  .chip {
    display: inline-block;
    padding: 0 25px;
    font-size: 0.95rem;
  }
  /* ****************************** */
  /* social section */
  /* *************************** */
  .contact {
    /* background-color: red; */
    height: auto;
  }
  .contact hr {
    width: 28%;
  }
  .thelinks {
    margin: 16px 20px;
  }
  .thelinks .thelinkslink {
    padding: 1.1rem;
    font-size: 1rem;
  }
  .socialformContainer {
    position: relative;
    /* border: 5px dotted rgb(160, 230, 70); */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .sociallink {
    /* background: yellow; */
    flex-grow: 1;
    flex-shrink: 1;
    margin: auto;
  }
  .container {
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.3);
    margin: 1rem auto 3rem;
    width: 80%;
    height: 500px;
    /* padding: 2rem 1rem; */
  }
}

/* only fixing social section on this breakpoint */
@media only screen and (min-device-width: 768px) and (max-device-width: 920px) {
  .contact hr {
    width: 35%;
  }
  .thelinks {
    margin: 16px 0;
    /* border: 2px solid red; */
  }
  .socialformContainer {
    position: relative;
    /* border: 5px dotted rgb(160, 230, 70); */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .sociallink {
    /* background: yellow; */
    flex-grow: 1;
    flex-shrink: 1;
    margin: auto;
    width: 70%;
  }
  .container {
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.3);
    margin: 1rem auto 3rem;
    width: 65%;
    height: 500px;
    /* padding: 2rem 1rem; */
  }
  .about {
    height: 120vh;
  }
}
/* only project section cards width */
@media only screen and (min-device-width: 1000px) {
  .snip1336 {
    margin: 10px 20px;
  }
  .about {
    height: 110vh;
    overflow: hidden;

  }
}
/* *********************************** */
/* for large screens */
/* *********************************** */
@media only screen and (min-width: 1600px) {
  .menu-button {
    top: 2rem;
    left: 2rem;
  }
  .bar {
    background-color: #2ab3a7;
    width: 50px;
    height: 7px;
    margin: 8px 0;
    transition: 470ms;
  }
  .menu-wrap {
    width: 350px;
    box-shadow: none;
  }
  .innerlink {
    font-size: 1.5rem;
  }
  .close-button {
    font-size: 3.5rem;
  }
  /* about container */
  .about {
    padding-top: 5.5rem;
  }
  .textcontainer {
    width: 70%;
  }
  .about .textcontainer p {
    /* font-size: 1.6rem; */
    font-weight: lighter;
    /* border: 1px solid orange; */
  }
  .flipBox {
    width: 170px;
    height: 170px;
    /* border: 1px solid orange; */
  }
  .backFace {
    font-size: 0.9rem;
  }
  .about h2 {
    font-size: 4.5rem;
  }
  .about hr {
    width: 40%;
  }
  .about .textcontainer p {
    font-size: 1.5rem;
  }

  /* project section */
  .projectitle {
    font-size: 3rem;
  }
  .projectHr {
    width: 22%;
  }
  .projecthr1 {
    margin-bottom: 8px;
  }
  .projecthr2 {
    margin-bottom: 2rem;
  }
  .projectTiles {
    width: 70%;
  }
  .snip1336 {
    margin: 2rem 0;
  }
  .snip1336 h2 {
    font-size: 1.6rem;
  }
  figcaption p {
    font-size: 0.8rem !important;
  }

  /* skills section */
  .skills {
    height: 100vh;
    padding-bottom: 0;
    background: #243342;
  }

  .skills h3 {
    font-size: 3rem;
    padding: 3rem 0 0.6rem;
  }
  .skills hr {
    width: 20%;
    margin: 0 auto 3rem;
  }
  .skillscontainer .sectionsInContainer h4 {
    font-size: 1.5rem;
    padding-bottom: 5px;
  }
  .chip {
    padding: 0 30px;
    height: 55px;
    font-size: 1.4rem;
    margin: 0 2px;
  }

  .contact h2 {
    font-size: 3rem;
  }
  .contact hr {
    width: 20%;
    margin-bottom: 4rem;
  }

  .socialformContainer {
    width: 70%;
  }
  .container {
    height: 600px;
    font-size: 1.5rem;
  }
  .thelinks .thelinkslink {
    font-size: 1.3rem;
  }
  .form {
    /* border: 1px solid yellow; */
    margin-top: 2rem;
  }
  .container h3 {
    font-size: 3rem;
    padding-top: 1rem;
  }

  .custom-shape-divider-bottom-1598182187 svg {
    height: 200px;
  }
}

@media only screen and (min-device-width: 2000px) {
  /* about container */
  .textcontainer {
    width: 50%;
  }
  .about .textcontainer p {
    font-size: 1.5rem;
  }
  .about h2 {
    font-size: 4rem;
  }
  .about hr {
    height: 2px;
    background-color: white;
    border: none;
  }
  /* .menu-wrap {
    width: 800px;
  } */

  .projectitle {
    font-size: 3.5rem;
  }
  .newprojectsection hr {
    width: 24%;
  }
  .projectTiles {
    /* border: 1px solid green; */
    width: 70%;
  }
  .snip1336 h2 {
    font-size: 2.1rem;
    /* font-weight:400; */
  }
  .snip1336 figcaption {
    font-size: 1.2rem;
  }
  .snip1336 figcaption a {
    font-size: 1.3rem;
    padding: 15px;
    margin-top: 3rem;
  }
  .skills h3 {
    font-size: 3.5rem;
    font-family: poppins;
  }
  .skills hr {
    width: 15%;
  }
  .sectionsInContainer {
    /* border: 2px solid red; */
    margin-bottom: 1rem;
  }
  .skillscontainer .sectionsInContainer h4 {
    margin-bottom: 3px;
    font-size: 2rem;
  }
  .chip {
    font-size: 1.4rem;
    font-weight: 400;
    padding: 0 40px 10px;
    height: 50x;
  }
  .contact h2 {
    font-size: 3.5rem;
  }
  .contact hr {
    width: 15%;
  }
  .contact {
    height: 100vh;
  }
  /* .sociallink {width: 35%;} */

  .socialformContainer {
    width: 70%;
    margin: 0 auto;
    /* border: 5px dotted rgb(160, 230, 70); */
  }
  .thelinks {
    /* width: 60%; */
    /* border: 1px solid red; */
    flex-grow: 1;
    flex-shrink: 1;
    margin: 6rem 3rem 0;
  }
  .container {
    background: rgba(0, 0, 0, 0.3);
    height: 600px;
    flex-grow: 1;
    flex-shrink: 1;
  }
}

@media only screen and (min-device-width: 2500px) {
  .projectTiles {
    /* border: 1px solid green; */
    width: 50%;
  }
  .newprojectsection hr {
    width: 20%;
  }
  .menu-wrap {
    width: 350px;
    box-shadow: none;
  }
  .socialformContainer {
    width: 50%;
  }
  .custom-shape-divider-bottom-1598182187 svg {
    height: 350px;
  }
  .projecthr1 {
    margin-left: 38%;
    margin-bottom: 8px;
  }
  .projecthr2 {
    margin-left: 42%;
    margin-bottom: 3rem;
  }
}
